.btn-group
  = link_to 'Back', bp_cost_by_race_classes_path, class: "btn btn-default"
  = link_to 'Show', @bp_cost_by_race_class, class: "btn btn-default"
%br
%br
%h1 Editing bp_cost_by_race_class
= render 'form'
