%br
.row
  .col-md-6
    %h4 Specializations
    - @character.specialized_weapons.each do |item|
      %h5= item.name
      = render partial: "specializations", locals: { item: item, specialization: @specialization }
  .col-md-6
    .row
      .col-md-12
        %h4 Proficiencies
        - @character.proficiencies.each do |proficiency|
          %h5
            = link_to proficiency.name, proficiency
    .row
      .col-md-12
        %h4 Talents
        - @character.talents.each do |talent|
          %h5
            = link_to talent.name, talent 
    .row
      .col-md-12
        %h4 Skills
        %p Coming Soon
