%h3 Step 3
= simple_form_for @character, :url => step4_character_path(@character), :method => :post do |f|
  .row
    .col-md-4= f.input :building_points, label: "Extra Building Points", collection: extra_bp_options, input_html: { class: "string form-control" }
  .row
    %br
    .col-md-4= f.submit 'Continue', class: "btn btn-primary"
