%h3 Step 6
= simple_form_for @character, :url => step7_character_path(@character), :method => :post do |f|
  .row
    .col-md-12
      %p Calculate starting honor
  .row
    .col-md-12
      %h4
        Honor:
        = number_with_precision(@character.honor, precision: 2)
  .row
    %br
    .col-md-4= f.submit 'Continue', class: "btn btn-primary"
