%h3 Step 8
= simple_form_for @character, :url => step9_character_path(@character), :method => :post do |f|
  %p Coming Soon: Quarks and Flaws
  .row
    %br
    .col-md-4= f.submit 'Continue', class: "btn btn-primary"
