%h3 Step 9
= simple_form_for @character, :url => step10_character_path(@character), :method => :post do |f|
  %p You will be able to purchase skils, talents and proficiencies after you are done with character creation.
  .row
    %br
    .col-md-4= f.submit 'Continue', class: "btn btn-primary"
