%h3 Step 13
= simple_form_for @character, :url => finish_character_path(@character), :method => :post do |f|
  %p You will be able to equip your character after you are done with character creation.
  = f.hidden_field :user_id, value: current_user.id
  .row
    %br
    .col-md-4= f.submit 'Finish', class: "btn btn-primary"
