%h1 Step 8
= simple_form_for @character, :url => step9_character_path(@character), :method => :post do |f|
  %p Determine quarks and flaws
  .row
    %br
    .col-md-4= f.submit 'Step 9', class: "btn btn-primary"
