%h1 Step 5
= simple_form_for @character, :url => step6_character_path(@character), :method => :post do |f|
  %p TODO: Adjust Stats based on Race...
  .row
    %br
    .col-md-4= f.submit 'Step 6', class: "btn btn-primary"
