%h1 Step 6
= simple_form_for @character, :url => step7_character_path(@character), :method => :post do |f|
  %p Calculate starting honor
  .row
    %br
    .col-md-4= f.submit 'Step 7', class: "btn btn-primary"
