%h1 Step 11
= simple_form_for @character, :url => step12_character_path(@character), :method => :post do |f|
  .row
    .col-md-12
      = render partial: "shared/calculations", locals: { rose: @character.calculate_combat_rose }
  .row
    %br
    .col-md-4= f.submit 'Step 12', class: "btn btn-primary"
