%h3 Step 1
= simple_form_for @character, :url => step2_characters_path, :method => :post do |f|
  .row
    .col-md-4 Gain 40 Building Points
  .row
    %br
    = f.input :building_points, :as => :hidden, :input_html => { value: 40 }
  .row
    %br
    .col-md-4
      %br
      .actions
        .btn-group
          = f.submit 'Continue', class: "btn btn-primary"
