%h1 Step 13
= simple_form_for @character, :url => finish_character_path(@character), :method => :post do |f|
  %p Equip You Character
  .row
    %br
    .col-md-4= f.submit 'Finish', class: "btn btn-primary"
