// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.race-options th, .race-options td {
    text-align: center;
}

.race-options tr:hover {
    background-color: #f5f5f5;
}

.race-options tr.selected {
    background-color: #8fd3fb;
}

.shop-link {
    height: 200px;
    background-color: #428bca;
    text-align: center;
    border-radius: 5px;
    font-size: 35px;
    text-shadow: 2px 2px #444;
    box-shadow: 1px 1px 1px #666;
    transition: box-shadow 250ms, text-shadow 250ms, background-color 250ms;
    cursor: pointer;
}

.shop-link .image {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-image: url("http://www.ambient-mixer.com/images_template/1/0/8/108da8bbd6c4c5ed24b7efa7886f6b79_full.jpg");
    background-size: auto 100%;
    transition: -webkit-filter 250ms, -moz-filter 250ms, -o-filter 250ms, -ms-filter 250ms, filter 250ms;
    -webkit-filter: blur(0.25px);
    -moz-filter: blur(0.25px);
    -o-filter: blur(0.25px);
    -ms-filter: blur(0.25px);
    filter: blur(0.25px);
}

.shop-link:hover {
    box-shadow: 5px 5px 5px #999;
}

.shop-link span {
    position: relative;
    bottom: 130px;
    color: #ffffff;
}

.shop-link a {
    text-decoration: none !important;
}
