.btn-group
  = link_to 'Show', @item_instance, class: "btn btn-default"
  = link_to 'Back', item_instances_path, class: "btn btn-default"
%br
%h3
  Editing
  = @item_instance.actual_name
%br
= render 'form'
