<!DOCTYPE html>
<html>
  <head>
    <title>Hacktrack</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-red.min.css" />
    <link rel="stylesheet" href="/assets/newui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script  src="/assets/newui.js"></script>
    <script  src="/assets/hacksolr.js"></script>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout__title">Slighter</span>
          <div class="mdl-layout-spacer"></div>
          <span class="mdl-layout__link"><a class="mdl-navigation__link" href="/">Classic Version</a></span>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout__title">Hacktrack</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link mdl-navigation__link--current" href="#">Slighter</a>
          <a class="mdl-navigation__link" href="#">Ilmen Mool</a>
          <a class="mdl-navigation__link" href="#">Aragorn</a>
          <a class="mdl-navigation__link" href="/characters/step1">
            <i class="material-icons">add</i>
            Character
          </a>
        </nav>
      </div>

      <main class="mdl-layout__content">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col mdl-cell--hide-desktop mdl-cell--hide-tablet" style="height:10px;"></div>

          <!-- Searching -->
          <div class="mdl-cell mdl-cell--1-col">
            <button class="mdl-button mdl-js-button mdl-button--icon back">
              <i class="material-icons">arrow_back</i>
            </button>
          </div>
          <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--hide-phone"></div>
          <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
            <form class="hack-search">
              <div class="mdl-textfield mdl-js-textfield hack-search">
                <input class="mdl-textfield__input" type="text" id="sample1">
                <label class="mdl-textfield__label" for="sample1">Search for anything...</label>
              </div>
            </form>
          </div>
          <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--hide-phone"></div>

          <!-- Default character info -->
          <div class="mdl-cell mdl-cell--3-col default-cell">
            <div class="mdl-card mdl-shadow--2dp" data-title="overview" data-category-readable="Character Details" data-category="character_info" data-id="/character_info/overview">
              <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">Overview</h2>
              </div>
              <div class="mdl-card__supporting-text">
                Your characters race, class, ability scores, money, health and experience.
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a class="card-opener mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Open</a>
              </div>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--3-col default-cell">
            <div class="mdl-card mdl-shadow--2dp" data-title="combat" data-category-readable="Character Details" data-category="character_info" data-id="/character_info/combat">
              <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">Combat</h2>
              </div>
              <div class="mdl-card__supporting-text">
                Your combat values and equiped weapon / armor sets.
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a class="card-opener mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Open</a>
              </div>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--3-col default-cell">
            <div class="mdl-card mdl-shadow--2dp" data-title="spells" data-category-readable="Character Details" data-category="character_info" data-id="/character_info/spells">
              <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">Spells</h2>
              </div>
              <div class="mdl-card__supporting-text">
                Your spells. Lorem ipsum...
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a class="card-opener mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Open</a>
              </div>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--3-col default-cell">
            <div class="mdl-card mdl-shadow--2dp" data-title="equipment" data-category-readable="Character Details" data-category="character_info" data-id="/character_info/equipment">
              <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">Equipment</h2>
              </div>
              <div class="mdl-card__supporting-text">
                Your characters weapons, armor and inventory.
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a class="card-opener mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Open</a>
              </div>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--3-col default-cell">
            <div class="mdl-card mdl-shadow--2dp" data-title="proficiencies" data-category-readable="Character Details" data-category="character_info" data-id="/character_info/proficiencies">
              <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">Proficiencies</h2>
              </div>
              <div class="mdl-card__supporting-text">
                Lorem ipsum lor so todo...
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a class="card-opener mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Open</a>
              </div>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--3-col default-cell">
            <div class="mdl-card mdl-shadow--2dp" data-title="specializations" data-category-readable="Character Details" data-category="character_info" data-id="/character_info/specializations">
              <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">Specializations</h2>
              </div>
              <div class="mdl-card__supporting-text">
                Lorem ipsum lor so todo...
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a class="card-opener mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Open</a>
              </div>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--3-col default-cell">
            <div class="mdl-card mdl-shadow--2dp" data-title="talents" data-category-readable="Character Details" data-category="character_info" data-id="/character_info/talents">
              <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">Talents</h2>
              </div>
              <div class="mdl-card__supporting-text">
                Lorem ipsum lor so todo...
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a class="card-opener mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Open</a>
              </div>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--3-col default-cell">
            <div class="mdl-card mdl-shadow--2dp" data-title="skills" data-category-readable="Character Details" data-category="character_info" data-id="/character_info/skills">
              <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">Skills</h2>
              </div>
              <div class="mdl-card__supporting-text">
                Your talents, proficiencies, skills, and .
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a class="card-opener mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Open</a>
              </div>
            </div>
          </div>

          <!-- Search Results -->
          <div class="mdl-cell mdl-cell--3-col search-cell-template">
            <div class="mdl-card mdl-shadow--2dp">
              <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text search-title"></h2>
              </div>
              <div class="mdl-card__supporting-text search-support-text"> </div>
              <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect action1"></a>
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect action2"></a>
              </div>
            </div>
          </div>


          <!-- Details Layout -->
          <div class="mdl-cell mdl-cell--6-col details-cell details-title">
              <h3>Title</h3>
          </div>
          <div class="mdl-cell mdl-cell--6-col details-cell details-category">
              <h5>Category</h5>
          </div>
      </main>
    </div>
  </body>
</html>
